---
import NavigationLinks from '@/components/Common/NavigationLinks.astro';
import HorizontalLine from '@/components/Common/HorizontalLine.astro';
---

<footer>
  <HorizontalLine class="line" />
  <section>
    <nav>
      <NavigationLinks class="footerLinks" />
    </nav>
    <aside>
      <p class="name">KATARZYNA KOWALSKA - BANKA</p>
      <small class="copyright">
        &copy; 2024 Project by Aleksandra Kopaczyńska, Kacper Slomiany
      </small>
    </aside>
  </section>
</footer>

<style lang="scss">
  footer {
    margin-top: auto;
    padding: 1rem 2rem;

    section {
      display: flex;
      flex-direction: column;
      gap: var(--content-blocks-gap-mobile);
      .footerLinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--common-gap-mobile);
      }
      aside {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: right;
        .copyright {
          font-size: 0.8rem;
        }
      }
    }
    .line {
      margin: 0 auto 1rem;
    }
  }

  @media (min-width: 640px) {
    footer {
      section {
        .footerLinks {
          justify-content: flex-start;
        }
      }
    }
  }
  @media (min-width: 960px) {
    footer {
      section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
      }
    }
  }
</style>
