---
import NavigationLinks from '@/components/UI/NavigationLinks.astro';
import HorizontalLine from '@/components/UI/HorizontalLine.astro';
---

<footer>
  <HorizontalLine />
  <div class="footerData">
    <nav>
      <NavigationLinks class="footerLinks" />
    </nav>
    <div class="info">
      <p class="name">KATARZYNA KOWALSKA - BANKA</p>
      <p class="copyright">
        ©Copyright 2024 Project by Aleksandra Kopaczyńska
      </p>
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    margin-top: auto;
    padding: 1rem 2rem;

    .footerData {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      .footerLinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: right;
        .copyright {
          font-size: 0.8rem;
        }
      }
    }
  }

  @media (min-width: 640px) {
    footer {
      .footerData {
        .footerLinks {
          justify-content: flex-start;
        }
      }
    }
  }
  @media (min-width: 960px) {
    footer {
      .footerData {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
      }
    }
  }
</style>
