---
const { text, to, width } = Astro.props;
---

<a href={to} style=`width: ${width}`>
  {text}
</a>

<style lang="scss">
  a {
    display: block;
    text-decoration: none;
    color: var(--text-color-primary);
    background-color: var(--background-color-primary);
    font-size: 1.2rem;
    padding: 0.5em 2em;
    margin: 0 auto;
    width: 250px;
    border-radius: 1.25em;
    border: 1px solid black;
    text-align: center;
    &:hover {
      transform: scale(1.02);
      transition: 0.1s;
    }
  }
</style>
