---
const currentPath = Astro.url.pathname;
const { class: className, ...rest } = Astro.props;

const navItems = [
  { label: 'HOME', path: '/' },
  { label: 'ABOUT US', path: '/about' },
  { label: 'OFFER', path: '/offer' },
  { label: 'MSP / RPO', path: '/msp-rpo' },
  { label: 'CONTACT', path: '/contact' },
];
---

<ul class={className} {...rest}>
  {
    navItems.map((item) => (
      <li>
        <a class={currentPath === item.path ? 'active' : ''} href={item.path}>
          {item.label}
        </a>
      </li>
    ))
  }
</ul>

<style lang="scss">
  ul {
    li:hover {
      transform: scale(1.02);
      transition: 0.1s;
    }
    a {
      text-decoration: none;
      color: var(--text-color-primary);
      text-align: center;
    }
    .active {
      font-weight: bold;
    }
  }
</style>
