---
import { Image } from 'astro:assets';
import UniversalWrapper from '../Layout/UniversalWrapper.astro';
import ContactForm from './ContactForm.astro';
import banner from '@/src/assets/img/home/home-work-together.png';
---

<UniversalWrapper>
  <section class="banner">
    <Image
      src={banner}
      alt="Two people talking and working on two laptops."
      quality={80}
    />
    <div>
      <h2>LET&apos;S WORK TOGETHER!</h2>
      <p>Contact us today and see how we can help.</p>
    </div>
    <ContactForm class="contactForm" />
  </section>
</UniversalWrapper>
<style lang="scss">
  .banner {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 0 auto;

    div p {
      margin: 0.5rem 0 1.5rem;
    }
    gap: var(--common-gap-mobile);
    img {
      border-radius: var(--common-border-radius);
      margin: 0 auto;
    }
  }

  @media (min-width: 1024px) {
    .banner {
      grid-template-columns: 1fr 1fr;
      max-width: none;
      div {
        place-self: center;
        h4 {
          margin-bottom: 1rem;
        }
      }
      img {
        grid-row: 1/3;
        height: 100%;
        object-fit: cover;
      }
      .contactForm {
        grid-column: 2;
      }
    }
  }
</style>
