---
const { class: className, ...rest } = Astro.props;
---

<div class={className} {...rest}></div>

<style lang="scss">
  div {
    height: 2px;
    background-color: #d9d9d9;
    margin: 0 auto;
  }
</style>
