---
import UniversalWrapper from '../Layout/UniversalWrapper.astro';
---

<UniversalWrapper>
  <p>
    We have a very limited cap on a number of clients on a monthly subscription
    who rely on Startify to provide this support and keep the people-side of
    their business ticking. Enjoy the flexibility of multiple subscription plans
    which are tailored to suit your business stage.
  </p>
</UniversalWrapper>

<style lang="scss">
  p {
    text-align: center;
  }
</style>
