---
import UniversalWrapper from '../Layout/UniversalWrapper.astro';
---

<UniversalWrapper>
  <p>
    We intentionally limit the number of clients on monthly subscriptions to
    ensure each one gets the dedicated support they need to keep the people side
    of their business running smoothly. Choose from a range of flexible
    subscription plans, tailored to match the stage and needs of your business.
  </p>
</UniversalWrapper>

<style lang="scss">
  p {
    text-align: center;
  }
</style>
