---
import Image from 'astro/components/Image.astro';
import targetAudienceList from '@/data/targetAudienceList.json';
import targetAudienceBanner from '@/src/assets/img/offer/offer-target-audience.png';
import UniversalWrapper from '../Layout/UniversalWrapper.astro';
---

<UniversalWrapper>
  <div class="titleContainer">
    <h1>Is HR Startify right for You?</h1>
    <h2>Here’s why businesses like yours choose HR Startify:</h2>
  </div>
  <article>
    <Image
      src={targetAudienceBanner}
      alt="A top-down view on a person working on a laptop."
    />
    <ul>
      {targetAudienceList.map((item) => <li>{item.text}</li>)}
    </ul>
  </article>
</UniversalWrapper>

<style lang="scss">
  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--text-color-secondary);
    margin-bottom: var(--content-blocks-gap-mobile);
    text-align: center;
    margin-top: 2rem;
    h1 {
      font-size: 2rem;
    }
  }
  h1 {
  }
  article {
    display: grid;
    img {
      height: 200px;
      object-fit: cover;
      border-radius: 1.5rem;
      margin-bottom: 3rem;
    }
    ul {
      display: grid;
      gap: var(--common-gap-mobile);
      background-color: #f5f5f5;
      border-radius: var(--common-border-radius);
      padding: 2rem;
      li {
        list-style: disc;
      }
    }
  }
  @media (min-width: 768px) {
    article {
      grid-template-columns: 1fr 1.2fr;
      gap: var(--common-gap-mobile);
      img {
        height: 100%;
        margin-bottom: 0;
      }
    }
  }
</style>
