---
// import { Image } from 'astro:assets';
// import banner from '@/src/assets/img/home-about.png';
---

<section class="about"></section>
<h1 class="title">About <span>HR STARTIFY</span></h1>
<div class="main"></div>
<style lang="scss">
  .about {
    .title {
      span {
        color: var(--text-color-secondary);
      }
    }
  }
</style>
