---
import ButtonLink from '../Common/ButtonLink.astro';
import HorizontalLine from '../Common/HorizontalLine.astro';
import { Image } from 'astro:assets';
import ownerImage from '@/src/assets/img/home/home-owner.png';
import ownerImageBackground from '@/src/assets/img/home/home-owner-bg.png';
import principlesList from '@/data/principlesList.json';
import UniversalWrapper from '../Layout/UniversalWrapper.astro';
---

<UniversalWrapper class="principles">
  <header>
    <div class="title">
      <h1>How we can help your</h1>
      <h2>BUSINESS</h2>
    </div>
    <p>
      We provide services of setting-up the HR departments for start-ups and
      scaling-up/developing businesses.
    </p>
  </header>
  <HorizontalLine class="line" />
  <div class="imageContainer">
    <Image
      src={ownerImage}
      alt="The owner of the website."
      class="ownerImg"
      quality={80}
    />
    <Image
      src={ownerImageBackground}
      alt="A grey background for the owner photo."
      class="ownerImgBg"
    />
  </div>
  <article class="principlesList">
    <ol>
      {principlesList.map((principle) => <li>{principle.text}</li>)}
    </ol>
    <ButtonLink text="Discover more" to="/offer" />
  </article>
</UniversalWrapper>

<style lang="scss">
  header {
    max-width: 550px;
    min-width: 300px;
    margin: 0 auto;
    .title {
      max-width: 400px;
      margin: 0 auto;
      h2 {
        color: var(--text-color-secondary);
        text-align: right;
        font-size: 1.7rem;
      }
    }
    p {
      padding: 1rem 0 3rem;
    }
  }
  .imageContainer {
    max-width: 300px;
    position: relative;
    margin: var(--content-blocks-margin) auto 0;
    .ownerImg {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
    }
    .ownerImgBg {
      z-index: 1;
    }
  }

  .principlesList {
    max-width: 500px;
    margin: 2rem auto 0;
    ol {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: var(--content-blocks-margin);
      li {
        &::before {
          color: var(--text-color-secondary);
          content: '0' counter(list) '.';
          left: -1px;
          position: absolute;
          text-align: right;
          width: 26px;
        }
        width: 95%;
        counter-increment: list;
        margin-left: 30px;
      }
    }
  }

  @media (min-width: 960px) {
    .principles {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      column-gap: 3rem;
      .imageContainer {
        grid-column: 1;
        grid-row: 1 / 4;
        place-self: center;
        max-width: none;
        margin: 0 auto;
      }
      .line {
        width: 100%;
      }
      header {
        grid-column: 2;
        max-width: none;
        .title {
          max-width: 450px;
          h1 {
            font-size: 1.8rem;
          }
          h2 {
            font-size: 2rem;
          }
        }
        p {
          padding: 1rem 0 2rem 30px;
        }
      }
      .principlesList {
        max-width: none;
      }
    }
  }
</style>
