---
import UniversalWrapper from '../Layout/UniversalWrapper.astro';

const benefits = [
  'Extensive global experience in RPO & MSP environments (APAC & Europe)',
  'Proven results in building scalable, high-performing programs',
  'Human, tailored consulting with real-world, revenue-focused impact',
];
---

<UniversalWrapper class="benefits-section">
  <h2>Why Work With Us?</h2>

  <ul class="benefits-list">
    {benefits.map((benefit) => <li>{benefit}</li>)}
  </ul>
</UniversalWrapper>

<style lang="scss">
  .benefits-section {
    max-width: 900px;

    h2 {
      margin-bottom: 2rem;
    }

    .benefits-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      list-style-type: disc;
    }
  }
</style>
