---
import UniversalWrapper from '../Layout/UniversalWrapper.astro';
import ButtonLink from '../Common/ButtonLink.astro';

const ctaPoints = [
  {
    icon: '🎯',
    text: "Whether you're looking to build, improve, or scale your RPO or MSP model, we offer tailored support backed by real-world expertise.",
  },
  {
    icon: '💰',
    text: 'Consulting services are billed at SGD 350/hour – ideal for short-term projects, strategic guidance, or ongoing advisory.',
  },
];
---

<section class="cta-section">
  <UniversalWrapper class="cta-wrapper">
    <h1>Ready to Transform Your Hiring Strategy?</h1>

    <div class="cta-points">
      {
        ctaPoints.map((point) => (
          <div class="cta-point">
            <span class="icon">{point.icon}</span>
            <p>{point.text}</p>
          </div>
        ))
      }
    </div>

    <ButtonLink
      to="mailto:kowa.kat@gmail.com"
      text="Explore RPO & MSP Consulting"
      width="450px"
    />
  </UniversalWrapper>

  <style lang="scss">
    .cta-section {
      text-align: center;
      background-color: var(--background-color-quaternary);
      margin: 4rem 0;
      border-bottom: 1px solid #f1f1f1;

      .cta-wrapper {
        display: grid;
        gap: 1rem;
        max-width: 900px;
        margin: 0 auto;
      }

      .cta-points {
        margin-bottom: 0.5remx;
        .cta-point {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-bottom: 1rem;
          justify-content: center;

          .icon {
            font-size: 1.5rem;
          }

          p {
            text-align: left;
          }
        }
      }
    }
  </style>
</section>
