---

---

<section class="empower-section">
  <p>
    <span>EMPOWER</span> your business with strategic HR for growth and success.
  </p>
</section>

<style lang="scss">
  .empower-section {
    padding: 3rem 1rem;
    text-align: center;

    p {
      span {
        color: var(--text-color-secondary);
        font-weight: 700;
      }
    }
  }
</style>
