---
import UniversalWrapper from '../Layout/UniversalWrapper.astro';
---

<UniversalWrapper class="hero-section">
  <h1>RPO & MSP consulting services</h1>
  <h2>strategic workforce solutions for growing teams</h2>
  <p>
    In addition to our core HR support packages, HR Startify offers specialised
    consulting services in Recruitment Process Outsourcing (RPO) and Managed
    Service Provider (MSP) models. These solutions are ideal for organisations
    looking to streamline talent acquisition, optimise workforce planning, and
    improve supplier management at scale.
  </p>
</UniversalWrapper>

<style lang="scss">
  .hero-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 900px;

    @media (min-width: 768px) {
      justify-content: space-between;
    }
    h1 {
      color: var(--text-color-secondary);
    }

    h2 {
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.7;
    }
  }
</style>
