.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  .navigation {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    padding: 1rem 2rem;
    background-color: var(--background-color-primary);
    .logo {
      height: 80px;
      width: 80px;
    }
    .menuIcon {
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
    }
    .desktopLinks {
      display: none;
      ul {
        display: flex;
        gap: 2.5rem;
        li {
          font-size: 1.1rem;
        }
      }
    }
  }
  .mobileLinks {
    position: absolute;
    background-color: white;
    z-index: 10;
    width: 100%;
    transform: translateY(-150%);
    transition: 0.5s;
    padding: 1.2rem;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--common-gap-mobile);
      li {
        font-size: 1.1rem;
      }
    }
  }
  .active {
    transform: translateY(0);
  }
}

@media (min-width: 640px) {
  .header {
    .navigation {
      .logo {
        height: 120px;
        width: 120px;
      }

      .desktopLinks {
        display: block;
      }
      .menuIcon {
        display: none;
      }
    }
    .mobileLinks {
      display: none;
    }
  }
}
