@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
button,
ul {
  margin: 0;
  padding: 0;
  font-weight: 370;
  letter-spacing: 0.1rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 101.5px;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  h1 {
    font-size: var(--h1-size);
  }
}
