:root {
  --text-color-primary: black;
  --text-color-secondary: #02577b;

  --background-color-primary: white;

  --h1-size: 1.8rem;

  /* For blocks that include a few divs */
  --block-padding-mobile: 2rem 1.5rem;
  --block-padding-desktop: 3rem;

  /* For space between content blocks */
  --content-blocks-margin: 3rem;

  /* For gap between items / small containers */
  --common-gap: 2rem;

  // sm: '640px';
  // md: '768px';
  // lg: '960px';
  // xl: '1280px';
  // 2xl: '1536px';
}
