:root {
  --text-color-primary: black;
  --text-color-secondary: #02577b;
  --text-color-tertiary: white;

  --background-color-primary: white;
  --background-color-secondary: rgba(196, 187, 180, 32%);
  --background-color-tertiary: #f5f5f5;
  --background-color-quaternary: #f9f9f9;

  --h1-size: 1.8rem;

  /* For blocks that include a few divs */
  --block-padding-mobile: 2rem 1.5rem;
  --block-padding-desktop: 3.5rem 3rem;

  /* For space between content blocks */
  --content-blocks-gap-mobile: 3rem;
  --content-blocks-gap-desktop: 6rem;

  /* For gap between items / small containers */
  --common-gap-mobile: 2rem;
  --common-gap-desktop: 4rem;

  --common-border-radius: 1.3rem;

  // sm: '640px';
  // md: '768px';
  // lg: '960px';
  // xl: '1280px';
  // 2xl: '1536px';
}
