:root {
  --text-color-primary: black;
  --text-color-secondary: #02577b;

  --background-color-primary: white;

  --content-block-padding: 2rem;

  --common-gap: 2rem;

  // sm: '640px';
  // md: '768px';
  // lg: '960px';
  // xl: '1280px';
  // 2xl: '1536px';
}
