---
import prosList from '@/data/prosList.json';
import arrowRight from '@/src/assets/icons/arrowRightBlue.svg';
import { Image } from 'astro:assets';
---

<section>
  <h1>what sets HR Startify apart</h1>
  <ul>
    {
      prosList.map((pro) => (
        <li>
          <Image
            src={arrowRight}
            alt="A blue arrow pointing right, on the text."
          />
          <p>{pro.text}</p>
        </li>
      ))
    }
  </ul>
</section>

<style lang="scss">
  section {
    margin: 4rem 0 2rem;
    h1 {
      background-color: var(--background-color-quaternary);
      color: var(--text-color-secondary);
      text-align: center;
      padding-top: 2rem;
    }
    ul {
      display: grid;
      gap: calc(var(--common-gap-mobile) + 1rem);
      background-color: var(--background-color-quaternary);
      padding: var(--block-padding-mobile);

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: clamp(200px, 100%, 900px);
        margin: 0 auto;
        gap: 1rem;
      }
    }
  }

  @media (min-width: 768px) {
    section {
      margin: 6rem 0 3.5rem;
      ul {
        padding: var(--block-padding-desktop);
      }
    }
  }
</style>
