---
import UniversalWrapper from '../Layout/UniversalWrapper.astro';
import { Image } from 'astro:assets';
import founderPicture from '@/src/assets/img/about/about-founder.png';
import ButtonLink from '../Common/ButtonLink.astro';
---

<UniversalWrapper class="founderInfo">
  <header>
    <h1>Founder:</h1>
    <h2>Kasia Kowalska - Banka</h2>
  </header>
  <div class="imageContainer">
    <Image
      src={founderPicture}
      alt="A picture of the website's founder"
      quality={100}
    />
  </div>
  <section>
    <p>
      Results-driven executive with deep expertise in designing and delivering
      complex HR strategies across diverse global markets. Skilled in Managed
      Service Provider (MSP), Recruitment Process Outsourcing (RPO), and Total
      Talent Solutions, with a strong focus on revenue-driven go-to-market
      strategies that boost client adoption and service success.
    </p>
    <p>
      Results-driven executive with deep expertise in designing and delivering
      complex HR strategies across diverse global markets. Skilled in Managed
      Service Provider (MSP), Recruitment Process Outsourcing (RPO), and Total
      Talent Solutions, with a strong focus on revenue-driven go-to-market
      strategies that boost client adoption and service success.
    </p>
    <p>
      Known for securing long-term partnerships, growing client portfolios, and
      increasing revenue through consultative, tailored workforce solutions.
      Brings extensive experience across APAC and Europe, leveraging a strong
      strategic network to drive sustainable business outcomes.
    </p>
    <p>
      As a co-founder of a business in Singapore’s emerging industry space, she
      also understands firsthand the nuances of setting up and running a small
      business—bringing a practical, grounded perspective to her strategic
      expertise
    </p>
    <ButtonLink text="See our offer" to="/offer" />
  </section>
</UniversalWrapper>

<style lang="scss">
  .founderInfo {
    display: grid;
    gap: var(--common-gap-mobile);
    header {
      display: grid;
      gap: 1rem;
    }
    .imageContainer {
      max-width: 400px;
      margin: 0 auto;
      place-self: center;
    }

    section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--common-gap-mobile);
    }
  }
  @media (min-width: 960px) {
    .founderInfo {
      grid-template-columns: 1.1fr 1.5fr;
      column-gap: 3rem;
      header {
        grid-column: 2;
      }
      .imageContainer {
        grid-row: 1/3;
        grid-column: 1;
      }
    }
  }
</style>
