---
import UniversalWrapper from '../Layout/UniversalWrapper.astro';
---

<UniversalWrapper>
  <h1>who we are</h1>

  <section class="suite">
    <p>
      At <span>HR Startify </span> HR Startify, we provide tailored HR solutions
      for businesses of all sizes—from startups to organizations with over 3,000
      employees.
    </p>
    <p>
      Our clients are often at a key growth stage: they may not yet have an HR
      function, are looking to formalize it, or want to strengthen their
      existing team with additional expertise. Small and medium-sized businesses
      value our hands-on, flexible support, while larger companies trust us to
      help them scale their people operations.
    </p>
    <p>
      With deep experience across all areas of HR and culture, we offer
      cost-effective, adaptable services designed to meet your evolving needs.
      Our collaborative approach helps build strong foundations that support
      long-term growth.
    </p>
    <p>
      We take care of the HR complexity so you can focus on running your
      business. With access to an experienced HR expert and a full toolkit of
      templates, policies, and guidance, you’ll be equipped to handle challenges
      and stay compliant—without the need for a full in-house team.
    </p>
  </section>
</UniversalWrapper>

<style lang="scss">
  h1 {
    margin-bottom: var(--common-gap-mobile);
    text-align: center;
  }
  .suite {
    display: flex;
    flex-direction: column;
    gap: var(--common-gap-mobile);
    line-height: 1.7;
    word-spacing: 0.05rem;

    span {
      color: var(--text-color-secondary);
    }
  }
</style>
