---
import UniversalWrapper from '../Layout/UniversalWrapper.astro';
---

<UniversalWrapper>
  <h1>Who are we?</h1>

  <section class="suite">
    <p>
      <span>HR Startify </span> provides top-notch human resources solutions tailored
      for small, medium and large enterprises with staff sizes ranging from 1 to
      3,000+ employees. Our clients usually aim to formalize the role of HR within
      their organization, they do not have a dedicated human resources personnel
      yet or have HR teams but are seeking more expertise and extension of this function.
      Small and medium businesses turn to HR Startify for accessible, attentive,
      and comprehensive HR support, the larger organizations wish to scale as well.
      Regardless of the size of your organization we strive to set the industry standard
      for your company's success and growth.
    </p>
    <p>
      With our expertise in all areas of people and culture, our comprehensive
      suite of HR solutions offers adaptable, and cost-effective options to
      address your HR needs. Our collaborative approach aims to establish robust
      HR foundations on which the organization can confidently stand for years
      to come.
    </p>
    <p>
      Let us handle the intricacies of HR responsibilities while you concentrate
      on your primary objectives. Regular access to our seasoned HR expert
      ensures you have the toolkit, ready-made solutions, and essential
      expertise in the Talent & Culture area to establish a robust framework in
      human resources. Our continuous, on-demand HR assistance helps preempt
      challenging HR scenarios in your business, providing you with peace of
      mind that all of your HR requirements are met without the need for an
      in-house HR department.
    </p>
  </section>
</UniversalWrapper>

<style lang="scss">
  h1 {
    margin-bottom: var(--common-gap-mobile);
    text-align: center;
  }
  .suite {
    display: flex;
    flex-direction: column;
    gap: var(--common-gap-mobile);
    line-height: 1.7;
    word-spacing: 0.05rem;

    span {
      color: var(--text-color-secondary);
    }
  }
</style>
