---
import UniversalWrapper from '../Layout/UniversalWrapper.astro';
---

<UniversalWrapper>
  <h1>How We Work</h1>

  <section class="description">
    <p>
      Think of us as your flexible, full-service HR department—ready to adapt to
      your business needs.
    </p>
    <p>
      We offer three core subscription packages, so you can choose the level of
      support that works best for you. And as your company evolves, your
      subscription can evolve too. You have the freedom to scale your services
      up or down each month, depending on what your business needs most.
    </p>
  </section>
</UniversalWrapper>

<style lang="scss">
  h1 {
    margin-bottom: var(--common-gap-mobile);
    text-align: center;
  }
  .description {
    display: grid;
    gap: var(--common-gap-mobile);
    line-height: 1.35rem;
    word-spacing: 0.05rem;
  }
</style>
